/* Signup Section */
.signup-section {
    padding: 40px;
    background-color: #ffffff;
}

.signup-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.signup-section form {
    max-width: 600px;
    margin: 0 auto;
}

.signup-section label {
    display: block;
    margin-bottom: 10px;
}

.signup-section input,
.signup-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-section button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-section button:hover {
    background-color: #004d40;
}
